In [1]:
import pandas as pd

In [2]:
cities_df = pd.read_csv("cities.csv")
cities_df.to_html('table.html', index=False, classes = ['table', 'table-striped', 'table-hover'])

In [6]:
cities_df.to_html

<bound method DataFrame.to_html of               City Country                 Date  Latitude  Longitude  \
0           barrow      US  2021-10-06 10:06:01   71.2906  -156.7887
1           albany      US  2021-10-06 10:06:01   42.6001   -73.9662
2       bredasdorp      ZA  2021-10-06 10:06:02  -34.5322    20.0403
3           burica     NaN                  NaN       NaN        NaN
4           atuona      PF  2021-10-06 10:06:02   -9.8000  -139.0333
..             ...     ...                  ...       ...        ...
609         warman      CA  2021-10-06 10:09:48   52.3168  -106.5679
610         bargal     NaN                  NaN       NaN        NaN
611  krasnaya gora      RU  2021-10-06 10:09:49   52.9995    31.6023
612           bara      NG  2021-10-06 10:09:49   10.3744    10.7288
613          tarut      SA  2021-10-06 10:09:50   26.5733    50.0369

     Cloudiness (%)  Humidity (%)  Max Temp (F)  Wind Speed (mph)
0              90.0          86.0        30.488              6.69
1              19.0          92.0        65.588              0.45
2               0.0          67.0        70.556              8.05
3               NaN           NaN           NaN               NaN
4              88.0          79.0        78.602             10.75
..              ...           ...           ...               ...
609           100.0          29.0        62.618              3.49
610             NaN           NaN           NaN               NaN
611            60.0          64.0        57.380              4.44
612            83.0          32.0        95.594              0.45
613             6.0          55.0        90.086              4.10

[614 rows x 9 columns]>